.g-row {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: var(--g-row-gap);
}

@media screen and (min-width: 2560px) {
  .g-col {
    grid-column: span var(--g-col-xl);
  }
}

@media screen and (min-width: 1920px) and (max-width: 2559px) {
  .g-col {
    grid-column: span var(--g-col-lg);
  }
}

@media screen and (min-width: 1600px) and (max-width: 1919px) {
  .g-col {
    grid-column: span var(--g-col-md);
  }
}

@media screen and (min-width: 1280px) and (max-width: 1599px) {
  .g-col {
    grid-column: span var(--g-col-sm);
  }
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .g-col {
    grid-column: span var(--g-col-xs);
  }
}

@media screen and (max-width: 767px) {
  .g-col {
    grid-column: span var(--g-col-xs);
  }
}